@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-image: url("/logo.gif");
}

main {
  background-color: rgba(255, 255, 255, 0.6);
}

input {
  margin-bottom: 30px;
}

.prose {
  margin-bottom: 30px;
}
